@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("./Fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("./Fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("./Fonts/Roboto-Black.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;

  font-size: 16px;
  line-height: 1.4;
}

/* ---- Header ---- */
/* ---- Header ---- */
/* ---- Header ---- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

div[class*="header__logo"] img {
  width: 134px;
  height: auto;
}

.header__menu-nav li {
  display: inline-block;
}

.header__menu-nav li a {
  display: inline-block;
  margin-right: 35px;
  font-family: "Roboto-Bold";
  color: #505565;
  font-size: 14px;
  line-height: 1.3;
}

.header__menu-nav li a:hover {
  color: #41ded5;
}

.header.change .header__menu-nav li a:hover {
  color: #505565;
}

/* .transform-logo {
    height: 50vh;
    width: 100%;
    background-color: red;
} */

.header.change .header__logo-dark {
  display: none;
}

.header.change .header__logo-light {
  display: block;
}

.header__logo-light {
  display: none;
}

.header.change .header__menu-nav li a {
  color: #fff;
}

.header__bars-icon {
  display: none;
  font-size: 23px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #000;
  border-radius: 3px;
  text-align: center;
}

.ss-intro__title {
  color: #47e6c9;
}

/*  --- Home Page ---- */
.ss-intro__container {
  height: 100%;
  position: relative;
  z-index: 5;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ss-intro__title {
  font-family: "Roboto-Bold";
  font-size: 5vw;
  color: #47e6c9;
  text-transform: uppercase;
  line-height: 1.2;
}

.ss-intro__desc {
  margin-bottom: 30px;
}

.ss-intro__desc-en {
  font-family: "Roboto-Bold";
  font-size: 20px;
  line-height: 1.5;
  color: #352c62;
}

.ss-intro__desc-vi {
  font-size: 20px;
  line-height: 1.5;
  color: #352c62;
}

.intro__app a {
  display: inline-block;
  width: 140px;
}

.intro__app a:first-child {
  margin-right: 15px;
}

.intro__app a img {
  max-width: 100%;
  height: auto;
}

.intro__preview-app {
  position: absolute;
  height: 70%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

.intro__preview-app img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.home-ss-partner {
  background-color: #352c62;
}

.home-ss__desctiption {
  font-family: "Roboto-Bold";
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 25px;
}

.home-ss__desc-italic {
  font-style: italic;
}

.home-ss__pd-top {
  padding-top: 12%;
}

.ss-ads__row {
  position: relative;
  height: 100%;
}

.home-ss__image img {
  max-width: 100%;
  height: auto;
}

.home-ss__image--ads {
  position: absolute;
  bottom: 0;
  right: 0;
  /* height: 80%; */
  /* width: calc(100% + 10vw); */
  width: 52%;
}

.home-ss__content--ads-2 {
  text-align: right;
}

.home-ss__image--ads-2 {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 55%;
}

.home-ss__image--promotion {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55%;
  height: fit-content;
}

.home-ss__image--promotion img {
  max-width: 100%;
  display: block;
  width: 100%;
}

.home-ss__title--type-2 {
  font-family: "Roboto-Black";
  font-size: 5vw;
  line-height: 1.3;
}

.home-ss__see-more--partner {
  background-color: #49e8c8;
}

.recruitment {
  padding: 50px 50px 25px 50px;
  margin: 30px 0 10vh;

  border-top: 4px solid #41ded5;
  border-bottom: 4px solid #41ded5;
}

.recruitment__title {
  font-family: "Roboto-Bold";
  font-size: 4.2rem;
  line-height: 1.2;
  color: #000;
}

.recruitment__subtitle {
  font-family: "Roboto-Bold";
  font-size: 14px;
  color: #000;
  margin-bottom: 25px;
}

.recruitment__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.space-header {
  padding-top: 150px;
}

.page-delivery__header {
  margin-bottom: 70px;
}

.page-delivery__header-content {
  padding: 50px 30px calc(50px + 10vh) 50px;
}

.page-delivery__header-title--driver {
  background-image: linear-gradient(to right, #2cc4f9, #49e8c8);
}

.page-delivery__header-title {
  color: #fff;
}

.page-delivery__title-type-2 {
  font-family: "Roboto-Bold";
  font-size: 30px;
  line-height: 1.5;
  text-transform: uppercase;
}

/* .driver__ss-1 {
    margin-bottom: 70px;
} */

.driver__ss-1-group {
  display: flex;
  justify-content: space-between;
}

.driver__ss-1-item--driver {
  width: 30%;
}

.driver__ss-1-item--driver-2 .driver__ss-1-thumb img {
  width: 66%;
}

.driver__ss-1-item--driver-3 .driver__ss-1-thumb img {
  width: 57%;
}

.driver__ss-1-thumb {
  position: relative;
  padding-top: 75%;
  width: 100%;
  margin-bottom: 15px;
}

.driver__ss-1-thumb img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);

  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.driver__ss-1-item h3 {
  font-family: "Roboto-Bold";
  font-size: 18px;
  color: #000;
  line-height: 1.5;
  margin-bottom: 5px;
}

.driver__ss-1-desc {
  font-size: 14px;
}

.driver__ss-2-group {
  display: flex;
}

.driver__ss-2-item {
  width: 50%;
}

.driver__ss-2-item--right {
  padding-left: 10%;
  flex: 1;
}

.driver__ss-content ol,
.driver__ss-content ul,
.driver__ss-content b,
.driver__ss-content strong {
  all: revert;
}

.driver__ss-content ol,
.driver__ss-content ul {
  padding-left: 20px;
}

.driver__ss-content li {
  margin: 10px;
}

.driver__ss-2-thumb img {
  max-width: 100%;
  min-height: 470px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.driver__ss-3-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.driver__ss-3-content {
  padding: calc(70px + 5vh) 0 calc(80px + 5vh);
}

.driver__ss-3-title {
  color: #41ded5;
  margin-bottom: 40px;
}

.driver__ss-3-desc {
  color: #fff;
  font-size: 18px;
  margin-bottom: 30px;
}

.driver__ss-3-button {
  font-family: "Roboto-Bold";
  font-size: 18px;
  color: #fff;
  padding: 15px 20px;
  border-radius: 50px;
  background-color: #41ded5;
  display: inline-block;
  border: 2px solid #41ded5;
}

.driver__ss-3-button:hover {
  color: #41ded5;
  background-color: #fff;
}

.driver__ss-4-content {
  display: flex;
}

.driver__ss-4-item {
  width: 50%;
}

.driver__ss-4-left-ct {
  max-width: 80%;
  font-size: 14px;
  margin-bottom: 30px;
}

.driver__ss-4-button {
  display: inline-block;
  font-family: "Roboto-Bold";
  font-size: 16px;
  color: #fff;
  padding: 15px 40px;
  background-color: #233862;
  border-radius: 25px;
}

.driver__ss-4-thumb img {
  min-height: 570px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.page-delivery__header-content--partner {
  background-color: #352c62;
}

.driver__ss-1-item--partner {
  width: calc((100% / 3) - 20px);
}

.driver__ss-1-item--partner .driver__ss-1-thumb img {
  object-fit: cover;
  border-radius: 35px;
}

.driver__ss-1-item--partner .driver__ss-1-thumb {
  margin-bottom: 25px;
}

.partner__ss-2 {
  background-color: #233862;
  padding: 50px 0 100px;
}

.partner__ss-2-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100px;
}

.partner__ss-2-col--left {
  display: flex;
  align-items: center;
}

.partner__ss-2-col--left form {
  margin: 0 -20px;
}

.partner__ss-2-col--left form input {
  background-color: #fff;
  border-radius: 25px;
  margin: 0 0 20px;

  font-family: "Roboto-Bold";
  color: #000;
  font-size: 18px;
  padding: 15px 20px;
}

.partner__ss-2-col--left form input::placeholder {
  color: #000;
}

.partner__ss-2-col--left form input[type="submit"] {
  background-color: #49e8c8;
  border-color: #49e8c8;
  border-width: 2px;
  cursor: pointer;
  margin: 0;
}

.partner__ss-2-col--left form input[type="submit"]:hover {
  background-color: #fff;
}

.wpcf7 .ajax-loader {
  display: none !important;
}

.partner__ss-2-col--left .delivery-form-row {
  padding: 0 20px;
}

.delivery-field-50 {
  width: 50%;
}

.partner__ss-2-col--left .delivery-form-row.delivery-field-50 {
  float: left;
}

.partner__ss-2-col--right img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  min-height: 430px;
  display: block;
}

.rules__header img {
  min-height: 360px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.rules__container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.rules__content {
  text-align: justify;
}

.rules__content p {
  all: revert;
}

.rules {
  margin-bottom: 100px;
}

/* ---- Footer ---- */
/* ---- Footer ---- */
/* ---- Footer ---- */

.footer {
  padding: 30px 0 5rem;
  background-color: #fafafc;
}

.footer__apply-buton {
  text-transform: capitalize;
  margin-bottom: 25px;
}

.footer-bt__logo img {
  width: 167px;
  height: auto;
  margin-bottom: 25px;
}

.footer-bt__app a {
  display: inline-block;
}

.footer-bt__app a:first-child {
  margin-bottom: 10px;
}

.footer-bt__app img {
  width: 167px;
  height: auto;
}

.footer-bt__info {
  color: #393939;
}

.footer-bt__info h3 {
  font-family: "Roboto-Bold";
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #393939;
}

.footer-bt__info-item {
  /* margin-bottom: 15px; */
  font-size: 14px;
  line-height: 2.7;
  color: #666666;
}

.footer-bt__info-item a {
  color: #393939;
}

.footer-bt__info-item a:hover {
  color: #2cc4f9;
}

.footer-bt__nav {
  margin: 0 -5px;
  display: flex;
  flex-wrap: wrap;
}

.footer-bt__nav li {
  display: inline-block;
  position: relative;
}

.footer-bt__nav li:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #393939;
  display: inline-block;
  position: absolute;
  top: 6px;
}

.footer-bt__nav li a {
  color: #393939;
  padding: 0 5px;
  font-size: 14px;
  line-height: 17px;
}

.footer-bt__license {
  padding-left: 40px;
  font-size: 14px;
  line-height: 2.7;
  color: #393939;
}

.footer-bt__license-icon {
  text-align: right;
}

.footer-bt__license-icon img {
  width: 168px;
  height: auto;
}

/* button close */
.button-close__icon {
  background-image: url("../images/close-min.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  display: inline-block;
  width: 100%;
  height: 100%;

  cursor: pointer;
}

.button-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  padding: 5px;
  background-color: #ffffff8f;
  z-index: 10;

  visibility: hidden;
  opacity: 0;
}

.button-close:hover .button-close__icon {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);

  transition: transform 250ms ease;
  -webkit-transition: transform 250ms ease;
  -moz-transition: transform 250ms ease;
}

/* ---- Animation ---- */
/* ---- Animation ---- */
/* ---- Animation ---- */

.animate {
  opacity: 0;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.fadeInLeft {
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.fadeInRight {
  animation-name: fadeInRight;
}
